*
.*
.*/*
*private*
!.config/flameshot/*
!.config/i3/*
!.config/i3blocks/*
!.config/kicad/*
!.config/rofi/*
!.config/spicetify/Themes/*
!.config/spicetify/Extensions/*
!.config/spicetify/CustomApps/*
!.config/spicetify/config.ini
!.config/pywal-discord/*
!.config/BetterDiscord/plugins/*.js
!.config/BetterDiscord/plugins/*.json
!.config/BetterDiscord/plugins/*.css
!.config/BetterDiscord/themes/*
!.config/BetterDiscord/data/stable/*
!.local/bin/*
!.kicad/*
!.screenlayout/*
!.zshrc
!rice
!.xinitrc
!.spacemacs
!progs.csv
!README.md
!.gitignore
.config/spicetify/Backup/*
*private*
*undo-tree*

