*
.*
.*/*
*private*
!.config/flameshot/*
!.config/i3/*
!.config/i3blocks/*
!.config/kicad/*
!.config/rofi/*
!.zshrc
!rice
!.xinitrc
!.spacemacs
!.local/bin/*
!.gitignore/*
!progs.csv
!README.md
*private*
*undo-tree*
