*
.*
.*/*
*private*
!.config/flameshot/*
!.config/i3/*
!.config/i3blocks/*
!.config/kicad/*
!.config/rofi/*
!.zshrc
!rice
!.xinitrc
!.spacemacs
!.local/bin/*
!.gitignore
!.config/spicetify/Themes/*
!.config/spicetify/Extensions/*
!.config/spicetify/CustomApps/*
!.config/spicetify/config.ini
!.config/pywal-discord/*
!.config/BetterDiscord/plugins/*
!.config/BetterDiscord/data/stable/*
!.screenlayout/*
!progs.csv
!README.md
*private*
*undo-tree*

